/* html elements */
ul {
    list-style: none;
    padding-left: 0;
}

li {
    justify-content: space-between;
    padding: 1px 5px 1px 5px;
    display: flex;
}

li:not(:last-child) {
    border-bottom: 1px solid lightblue;
}

li:first-child {
    margin-top: 1rem;
}

li:last-child {
    margin-bottom: 1rem;
}

li:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}


/* class styles */
.title {
    padding-top: 20px;
    color: grey;
}

.note-title {
    width: 100%;
    text-align: left;
    padding: 0 10px 0 10px;
}

.overflow-content {
    max-height: 500px;
    font-size: 18px;
}

.note-complited {
    text-decoration: line-through;
    color: rgb(204, 203, 203);
}

.button:hover {
    background-color: #6793fa;
}